.five-day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.five-day-list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.five-day-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.five-day-list-item span {
  width: 100%;
}

.five-day-list-item span:first-child {
  text-align: left;
}

.five-day-list-item span:nth-child(2) {
  text-align: center;
}

.five-day-list-item span:nth-child(3) {
  text-align: right;
}
